.wapper_profile {
  width: calc(100vw - 250px);
  height: calc(100vh - 65px);
  position: absolute;
  top: 0;
  right: 0;
  /* background: white; */
  overflow: hidden auto;
  z-index: 10;
}

.wapper_profile_box_header {
  position: absolute;
  top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  background-color: #d8d8d866;
  border-radius: 32px;
  padding: 12px 24px 12px 24px;
  gap: 20px;
  color: #ffffff;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
}
.wapper_profile_contain {
  position: relative;
  height: 213px;
}
.wapper_profile_li {
  cursor: pointer;
  margin: 0 15px;
  font-size: 22px;
}
.wapper_profile_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.wapper_content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.wapper_body {
  background: linear-gradient(109.71deg, #a2dd9f 26.35%, #ee92c4 98.08%);
  padding: 48px 48px 24px 48px;
  gap: 16px;
  border-radius: 32px;
}
.profile_text {
  display: -webkit-box;
  max-height: 3.2rem;
  width: 200px;
  margin: 0 10px;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: 1;
  line-height: 1.6rem;
}
.styleFist {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  justify-content: start;
  gap: 10px;
  display: flex;
}
.styleLast {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  justify-content: start;
  display: flex;
  gap: 10px;
}
